.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden; 
  position: relative;
}

.text {
  max-width: 50%;
  z-index: 2;
  margin-bottom: 150px;
}

.text h2 {
  width: 523px; 
  height: 108px; 
  gap: 0px; 
  font-family: 'Poppins', sans-serif; 
  font-size: 36px; 
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgba(33, 33, 33, 1); 
  margin-bottom: 20px;
}


.text p {
  top: 146px;
  left: 2px;
  gap: 0px; 
  font-family: 'Poppins', sans-serif;
  font-size: 24px; 
  font-weight: 400; 
  line-height: 36px;
  text-align: left; 
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}


.read-more1 {
  padding: 10px 20px;
  background: var(--primary-gradient);
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 24px;
  border-radius: 100px;
  cursor: pointer;
  width: 175px;
  height: 40px;
  gap: 0px;
  opacity: 1;
  transition: background 0.3s ease, transform 0.3s ease;
}

.read-more1:hover {
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  transform: scale(1.05);
}



.image-wrapper {
  position: relative;
  width: 564.92px;
  height: 891.9px;
  z-index: 1;
}

.background {
  position: absolute;
  top: 185px;
}

.image {
  position: relative;
  bottom: 100px;
}
