.hero {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
}


.vector1,
.vector2,
.vector3,
.vector4,
.vector5 {
  position: absolute;
  visibility: visible;
  opacity: 1;
}

.vector1 {
  top: -20px;
  left: -30px;
}

.vector2 {
    top: 143px;
    right: -80px;
}

.vector3 {
  bottom: 0%;
  right: 8%;
}

.vector4 {
    bottom: 337px;
    left: 587px;
}

.vector5 {
    top: 50%;
    left: 0%;
}


.hero h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 11px;
  margin-right: 100px;
  max-width: 539px;
  z-index: 3;
}


.read-more {
  width: 249px;
  height: 60px;
  margin-right: 380px;
  background: var(--primary-gradient);
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 3;
  transition: background 0.3s ease, transform 0.3s ease;
}

.read-more:hover {
  background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  transform: scale(1.05);
}

