:root {
  --primary-gradient: linear-gradient(90deg, rgba(115, 224, 169, 1), rgba(91, 104, 223, 1));
}


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

header, section {
  padding: 20px;
}
